doctype html
html(lang=languageTag)
    head
        meta(charset='utf-8')
        
        //- Title and Description
        title !{pageTitle}
        meta(name='description', content=pageDescription)
        
        //- Open Graph meta Tags
        meta(property='og:image' content=pageImageURL)
        meta(property='og:title' content=pageTitle)
        meta(property='og:description' content=pageDescription)
        meta(property='og:type' content=pageType)
        meta(property='og:url' content=pageURL)
        meta(property='og:locale' content=pageLocale)

        //- Manifest
        <link rel="manifest" href="/manifest.json">
        
        //- Favicon
        link(rel="icon" type="image/svg+xml" href="/favicon.svg")
        link(rel="shortcut icon" href="/favicon.ico")
        link(rel="icon" type="image/png" sizes="96x96", href="favicon-96x96.png")
        link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")

        meta(name="theme-color", content="#ffffff")
        
        //- Apple PWA
        meta(name="apple-mobile-web-app-title" content=pageTitle)
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="#fff")

        //- Screen
        meta(name='viewport', content='width=device-width, initial-scale=1.0')


        include styles-include.pug
    body
        include ../../source/index/indexbody.pug
        include scripts-include.pug
