//- credentialsframe structure
include ../preloadermodule/preloader-mixins.pug

.hidden-templates
    #invalid-user-error-feedback=content.invalidUserErrorFeedback
    #network-error-feedback=content.networkErrorFeedback 
    #input-error-feedback=content.inputErrorFeedback
    #login-preloader: +preloader("credentialsframe-preloader", "spinner-1")

#credentialsframe-container
    label(for="login-vpn-input")=content.loginVPNLabel
    input#login-vpn-input(type="text")
    label(for="login-username-input")=content.loginUsernameLabel
    input#login-username-input(type="text")
    label(for="login-password-input")=content.loginPasswordLabel
    input#login-password-input(type="password")
    .user-feedback